.blog-outer-div {
  padding-top: 90px;
  display:flex;
  justify-content: center;
}

.blog-inner-div {
  min-height: calc(100vh - 90px);
  background-color: #ffe6e9;
  width: 94%;
  max-width: 1000px;
  border-radius: 5px;
  padding: 20px 40px;
}
